body{
    margin: 0%;
    height: 100%;
    width: 100%;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
 
}
#menutop{
    /* display: flex; */
    position: fixed;
    width: 100%;
}
#mainmenu{ 
    list-style: none;
    display: flex;
    float: right;
    
}

#mainmenu li{
    margin-right: 50px;

}
#mainmenu li a{
    text-decoration: none;
    color: white; 
    font-size: 20px;
    
}
.icontim{
    position: absolute;
    bottom: 1.2rem;

}
.logoa{
    width: 20%;
    text-decoration: none;
    font-size: 40px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color:rgb(29, 48, 29);
    margin-top: -2%;
    font-family: 'Akronim';  
}
header .topleft{
    display: block;

}
header #mainmenu li a{
    text-decoration: none;
    color: #000; 
    font-size: 20px;
    
}
 
     
#mainmenu .menudanhmuc:hover .danhmuc_down{
    display: block;
    background: blueviolet;
    box-shadow: 0px 10px 20px 0px rgba(0,0,0,0.2);;
}  
 
#mainmenu .menudanhmuc:hover a{
   color: violet;

}
#mainmenu .menudanhmuc:hover{
     margin-top: -1%;
     
}
#mainmenu .menutrangchu:hover a{
    color: violet;
}
#mainmenu .menutrangchu:hover{
    margin-top: -1%;
}
#mainmenu .menugioithieu:hover a{
    color: violet;  
}
#mainmenu .menugioithieu:hover{
    margin-top: -1%;   
}
#mainmenu .menublog:hover a{
    color: violet;  
}
#mainmenu .menublog:hover{
    margin-top: -1%;   
}
#mainmenu .menuuser:hover a{
    color: violet;   
}
#mainmenu .menuuser:hover{
    margin-top: -1%;   
}
.danhmuc_down{
    color: seashell;
    display: flex;
    flex-direction: column;
    display: none;
    position: absolute;
    border-radius: 5px ;
    clear: both; 
}
.danhmuc_down li{
    list-style: none;
    line-height: 50px;
    border-bottom: white 5px solid ;
    width: 100%;
    border-radius: 5px; 
}

.danhmuc_down li:hover{
    background: white;
}  
.danhmuc_down  .con:hover a{ 
   color: black !important;
}
header{
    display: flex;
    margin-top: 0%;
    align-items: center;
    text-align: center;
    border-bottom: cornsilk 1px solid;
    padding: 1px 0px;  
}
.topright{
    float: right;
    width: 60%;
    display: block;
    padding: 5px 10px;
    align-items: center;
    font-size: 20px;
    margin-left: 14%;
}
.topleft{
    width: 40%;
    float: left;
    display: flex;
    align-items: center;
    font-size: 30px;
    display: none;
}    
.banner{
    width: 100%;
}
.noidungnhap{
    border-radius: 8px;
    width: 80%;
    height: 25px;
    float: left;
    text-align: center  ;

}
.input-content{
    width: 70%;
    float: right;
    margin-top: 1.5%;
}
.logo-content{
    width: 30%;
    float: left;
}