.tieude
{
	text-align: justify-all;
	font-size: 15px;
	width: auto;
	height: 90px;
	/*background-color: #40FF00;*/
	font-family: tahoma;
	border-width: 10px;
	border-color: #FAAC58;
	border-style: solid;
	border:1px solid gray;
        padding:autopx autopx;
        /*font-size:30px;*/
        background-image:url(https://png.pngtree.com/thumb_back/fw800/background/20190222/ourmid/pngtree-creative-irregular-geometry-stitching-banner-background-image_51433.jpg);
/*        background-color:#eee;*/
/*        background-blend-mode: 50%;*/
        border-image: initial;
        border-color: #0B0B3B;
        border-width: 5px;

}
h1
{
	color: #10107F;
	text-align: center;
	/*margin-top: 20px;*/
	margin-bottom: 20px;
	border-style: outset;

}
h2
{

	margin-left: 350px;
	color: #070719;
	font-size: 25px;
	font-family: tahoma;
}
.danhmucgioithieu
{
	margin-left: 300px;
	font-size: 20px;

}
.khoigiua
{
	background-image: url(https://images.pexels.com/photos/579353/pexels-photo-579353.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
	width: auto;
	height: 1000px;

}
.footer
{
	text-align: center;
	margin-top: 600px;
/*	border-width: 10px;
	border-color: #0404B4;*/
	color: #0404B4;
	font-family: tahoma;
}
.noidungnhap
{
	width: 500px;
	height: 30px;
	border-radius: 50px;
	text-align: center;
}
.nutguicauhoi
{
	border-radius: 20px ;
	background-color: #01DF01;
	height: 30px;
}
.aa
{
	width: auto;
	height: 30px;
	text-align: center;
}
.cunghoangdao
{
	font-size: 15px;
	font-family: inherit;
}
/*.youtube
{	
	float: left;
	text-align: center;
	width: 300px;
	height: 300px;
	background-color: #FE642E;
}*/
/*.facebook
{
	float: right;
	text-align: center;
	width: 300px;
	height: 300px;
	background-color: #00BFFF;

}*/
.danhmucgioithieu
{
	color: #10107F;
	font-family: tahoma;	
}
.anhinstagram
{
	margin-top: 30px;
}
#anhyoutube
{
	border-radius: 30px;
	width: 300px;
	height: 300px;
}
#anhcanhan
{
	margin-top: 1200px;
	width: auto;
	height: auto;
}
#anhfacebook
{ 
	border-radius: 30px;
	width: 300px;
	height: 300px;

}
#anhinstagram
{
	width: 300px;
	height: 300px;
}
#anhzalo
{
	border-radius: 30px;

	width: 300px;
	height: 300px;
}
.khoi1
{
	float: left;
	text-align: center;
	width: 300px;
	height: 300px;
	background-color: #00BFFF;
	margin-top: 30px;
}
.khoi2
{
	float: right;
	text-align: center;
	width: 300px;
	height: 300px;
	background-color: #00BFFF;
	margin-top: 30px;
}
#SDT
{
	display: none;
/*	ẩn màn hình*/
	position: absolute;


}
.zalo
{
	position: relative;
}
